
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hamburger-menu{
        display: block;   
       }
       .nav-icon{
        display: none;
       }
       /* camera */
       .Banner-container{
        flex-direction: column-reverse;
       }
       .Banner-Text{
        margin: 0;
        text-align: center;
       } 
       .Popular-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
       }
       .more{
        color: red;
        display: block;
       }
       .Feature-container{
        flex-direction: column-reverse;
       }
       
       .Feature-Image img{
        width: 100%;
       }
       .Feature-Text{
        margin: 0;
        text-align: center;
        margin-bottom: 50px;
      }
      .Inluencer-container{
        text-align: center;
        background-color: rgb(27, 9, 43);
       }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-main{
       flex-direction: column;
    }
    .navbar-main div{
        margin-top: 10px;
    }
    .hamburger-menu{
     display: none;   
    }
    .Banner-Image{
        margin: 0 0 0 0;
    }
    .Banner-container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        margin-left: 30px;
    }
    .Banner-Text{
        margin: 150px 0;
        margin-top: 10px;
    }
    .Banner-Image{
        margin: 50px 0 0 100px;
    }
    .Logo-container{
        margin-top: -70px;  
    }
    .Popular-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .more{
        color: red;
        
    }
    .Feature-container{
        flex-direction: column-reverse;  
    }
   
    .Feature-Image img{
        width: 100%;
    }
    .Feature-Text{
      margin: 0;
      text-align: center;
      margin-bottom: 50px;
    
    }
    .Inluencer-container{
        text-align: center;
        background-color: rgb(27, 9, 43);
        /* margin-top: -200px; */
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399.98px){

}

/* // Extra Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px){

}