/* Header Section Start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    
}
.navbar-main{
    border: 1px solid rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.nav-btn{
    background-color: transparent;
    border: none;
    margin-left: 20px;
}
.hamburger-menu{
    display: none;   
}

/* Header Section End */

main{
    
}
/* Camera Section Start */

.Banner-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* margin-top: 50px; */
    /* text-align: center; */
    /* align-items: center; */
}
.Banner-Text{
    margin: 150px 0;
    /* margin-top: 10px; */
    /* text-align: center; */
    /* margin-left: 100px; */
    /* width: 50%; */
}
.b-h1{
    font-size: 52px;
    font-weight:bold;
    margin-bottom: 10px;
    
}
.b-p{
    font-size: 15px;
    font-weight: 400px;
    margin-top: 0px;
    
}
.Banner-btn{
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #E02C6D;
}
.Banner-Image{
    margin: 50px 0 0 100px;
}
.Banner-Image img{
    width: 100%;
}

/* Camera Section End */

/* Logo Section Start */

.Logo-container{
   margin-top: 60px;  
}
.Logo{    
    text-align: center;    
}
.logo-image{
    padding: 15px;
}

/* Logo Section End */
/* Popular Section Start */

.container{    
   

}
.popular-h3{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
}
.Popular-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 70px;
    justify-content: center;
    gap: 0px;
}
.container-pplr{
    margin-top: 50px;
    gap: 10px;
    width: 250px;
    margin-left: 110px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
    
}
.pplr-h4{
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
}
.pplr-h5{
    font-size: 24px;
    font-weight: 100px;
    margin-top: 15px;
}
.pplr-p{
    margin-top: 8px;
}
.more{
    color: red;
    margin-top: 50px;
    margin-left: 1275px;
}

/* Popular Section End */
/* Feature Section Start */

.Feature-container{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
.Feature-Image{
    
}
.Feature-Text{
    margin-left: 160px;
    margin-top: 60px;
}
.F-h2{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
}
.F-p{
    font-size: 16px;
    margin-bottom: 10px;
    /* font-weight: 100px; */
}
.Feature-btn{
    color: white;
    background-color: #E02C6D;
    padding: 2px 5px 2px 5px;
}

/* Feature Section End */
/* Influencer Section Start */

.Inluencer-container{
    text-align: center;
    background-color: rgb(27, 9, 43);
    margin: 30px -40px;
}
.Influencer{
    padding: 50px;
}
.I-h3{
    color: white;
    font-size: 24px;
    font-weight: bold;
    
}
.I-p{
    color: white;
    font-size: 14px;
}
.Icon{

}

/* Influencer Section End */